@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
	height: 100%;
}

body {
	color: $base-text;
	font-size: $base-font-size;
	font-family: $main-font;
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
	list-style-type: none;
	outline: none;
  margin: 0;
  padding: 0;
}

a {
	text-decoration: none;
	color: $link;
	outline: none;
	transition: all linear .3s;
	@media screen and(min-width: 1023.98px) {
		&:hover {
			color: $action-color;
		}
	}
}

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
option,
button { outline: none; }

*, *:before, *:after { box-sizing: border-box; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { flex: 1 0 auto; }

.container {
	align-items: center;
	display: flex;
  margin: 0 auto;
	max-width: $content-size;
	width: 100%;
	@media screen and(max-width: $desktop) {
		padding: 0 10px;
	}
	&--header-main {
		align-items: center;
		display: flex;
		height: 100vh;
		justify-content: space-around;
		padding-top: 80px;
		@media screen and(max-width: $tablet-wide) {
			flex-direction: column;
		}
	}
	&--product {
		align-items: center;
		padding-top: 10px;
		flex-direction: column;
	}
	&--salad {
		background-color: transparent;
	}
	&--delivery {
		align-items: flex-start !important;
		flex-direction: row;
		@media screen and(max-width: $tablet-large) {
			align-items: center !important;
			flex-direction: column;
		}
	}
}

.title {
	&--dark {
		color: $base-text;
	}
	&--white {
		color: $white;
	}
	&--bold {
		font-family: $bold-font;
		font-size: 1.5rem;
	}
	&--black {
		font-family: $black-font;
		font-size: 1.7rem;
	}
}

.text {
	&--dark {
		color: $base-text;
	}
	&--white {
		color: $white;
	}
}

//Модули
@import "modules/modules";