@font-face {
	font-family: 'RalewayRegular';
	src: url('../fonts/RalewayRegular/RalewayRegular.eot');
	src: url('../fonts/RalewayRegular/RalewayRegular.woff') format('woff'),
			url('../fonts/RalewayRegular/RalewayRegular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'RalewayBold';
	src: url('../fonts/RalewayBold/RalewayBold.eot');
	src: url('../fonts/RalewayBold/RalewayBold.woff') format('woff'),
			url('../fonts/RalewayBold/RalewayBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'RalewayBlack';
	src: url('../fonts/RalewayBlack/RalewayBlack.eot');
	src: url('../fonts/RalewayBlack/RalewayBlack.woff') format('woff'),
			url('../fonts/RalewayBlack/RalewayBlack.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Isadora M Bold';
	src: url('../fonts/Isadora M Bold/Isadora M Bold.eot');
	src: url('../fonts/Isadora M Bold/Isadora M Bold.woff') format('woff'),
			url('../fonts/Isadora M Bold/Isadora M Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}