.drink-main__arrow-prev, .drink-main__arrow-next {
	@include size(50px);
	cursor: pointer;
	fill: rgba($color: $button, $alpha: .5);
	position: absolute;
	transition: all linear .3s;
	top: 50%;
	transform: translateY(50%);
	&:hover {
		fill: $action-color;
	}
	@media screen and(max-width: $tablet-wide) {
		display: none;
	}
}

.drink-main__arrow-prev {
	right: 0;
}

.drink-main__arrow-next {
	left: 0;
}