footer.footer
	.footer__container.container

		.footer-info
			h2.footer-info__title.title--white.title--bold Пицца на дом
			p.footer-info.text--white
			.footer-info__group
				+icon('email', 'footer-info__icon')
				a.footer-info__text.text--white(href="mailto:pizzanadom@yandex.ru") pizzanadom@yandex.ru
			.footer-info__group
				+icon('phone-footer', 'footer-info__icon')
				a.footer-info__text.text--white(href="tel:+79998881020") +7 (999) 888 10 20
			.footer-info__group
				+icon('locat', 'footer-info__icon')
				p.footer-info__text.text--white Москва, Коломенское ш., дом 46а, оф. 345

		.footer-info
			h2.footer-info__title.title--white.title--bold Заказать
			nav.footer-info__nav
				ul.footer-info__nav__list
					li.footer-info__nav__item
						a.footer-info__nav__link.js-anchor(href="#start") Начало
					li.footer-info__nav__item
						a.footer-info__nav__link.js-anchor(href="#pizza") Заказать пиццу
					li.footer-info__nav__item
						a.footer-info__nav__link.js-anchor(href="#salad") Заказать закуски
					li.footer-info__nav__item
						a.footer-info__nav__link.js-anchor(href="#drink") Заказать напитки
			input.btn.submit-button.submit-button--header.text--white(type="submit" value="Сделать заказ")

		.footer-info
			h2.footer-info__title.title--white.title--bold Галерея Instagram
			.footer-info__gallery.js-gallery
				a(href="static/images/content/pizza1.png")
					img.footer-info__img(src="static/images/content/s-pizza1.png", alt="Фото продукта")
				a(href="static/images/content/pizza2.png")
					img.footer-info__img(src="static/images/content/s-pizza2.png", alt="Фото продукта")
				a(href="static/images/content/pizza3.png")
					img.footer-info__img(src="static/images/content/s-pizza3.png", alt="Фото продукта")
				a(href="static/images/content/pizza4.png")
					img.footer-info__img(src="static/images/content/s-pizza4.png", alt="Фото продукта")
				a(href="static/images/content/pizza5.png")
					img.footer-info__img(src="static/images/content/s-pizza5.png", alt="Фото продукта")
				a(href="static/images/content/pizza6.png")
					img.footer-info__img(src="static/images/content/s-pizza6.png", alt="Фото продукта")
				a(href="static/images/content/salat1.png")
					img.footer-info__img(src="static/images/content/s-salat1.png", alt="Фото продукта")
				a(href="static/images/content/salat2.png")
					img.footer-info__img(src="static/images/content/s-salat2.png", alt="Фото продукта")
				a(href="static/images/content/salat3.png")
					img.footer-info__img(src="static/images/content/s-salat3.png", alt="Фото продукта")
				a(href="static/images/content/salat4.png")
					img.footer-info__img(src="static/images/content/s-salat4.png", alt="Фото продукта")
				a(href="static/images/content/salat5.png")
					img.footer-info__img(src="static/images/content/s-salat5.png", alt="Фото продукта")
				a(href="static/images/content/salat6.png")
					img.footer-info__img(src="static/images/content/s-salat6.png", alt="Фото продукта")
				a(href="static/images/content/pizza5.png")
					img.footer-info__img(src="static/images/content/s-pizza5.png", alt="Фото продукта")
				a(href="static/images/content/pizza6.png")
					img.footer-info__img(src="static/images/content/s-pizza6.png", alt="Фото продукта")
				a(href="static/images/content/salat1.png")
					img.footer-info__img(src="static/images/content/s-salat1.png", alt="Фото продукта")
				a(href="static/images/content/salat2.png")
					img.footer-info__img(src="static/images/content/s-salat2.png", alt="Фото продукта")

		.footer-info
			h2.footer-info__title.title--white.title--bold Мы в соцсетях
			.footer-info__wrap
				.footer-info__group
					a.footer-info__text.footer-info__text--social.text--white(href="https://vk.com") Мы в Вконтакте
						+icon('vk', 'footer-info__social-icon')
				.footer-info__group
					a.footer-info__text.footer-info__text--social.text--white(href="https://facebook.com") Мы в Фейсбуке
						+icon('fb', 'footer-info__social-icon')
				.footer-info__group
					a.footer-info__text.footer-info__text--social.text--white(href="https://linkedin.com") Мы в Линкедин
						+icon('liin', 'footer-info__social-icon')
				.footer-info__group
					a.footer-info__text.footer-info__text--social.text--white(href="https://instagram.com") Мы в Инстаграме
						+icon('inst', 'footer-info__social-icon')